@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content-area {
  margin-top: 80px;
  padding-bottom: 20px;
}

#selection {
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.clearcolor {
  color: black;
}

#introduction {
  margin-bottom: 30px;
}
